/*
    BLACK #0A0908
    GREY BLUE #22333B
    WHITE #FEFEFE
    ORANGE #F48F5D
    VIOLET #682764

*/

.container {
    background-color: #FEFEFE;
}
.navbar {
    background-color: #DD1F4B;
}
.nav-link,
.navbar-brand {
    color: #FEFEFE;
}
    .nav-link:hover,
    .navbar-brand:hover {
        color: #E57A44;
    }
.card-body {
    background-color: #26547C;
    color: #FEFEFE;
}

